<%- include('../layout/includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../layout/includes/navigation.ejs') %>
    <main>
        <% if(proud.length > 0 )  { %>
            <div class="Main_Title">
                <h1>All Door Products</h1>
                <p>Discover the latest trends in KhaledDoor</p>
            </div>
        <div class="grid">
            <% for (let product of proud){ %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= product.price %></h2>
                    <p class="product__description"><%= product.description %></p>
                </div>
                <div class="card__actions">
                    <a href="/product/<%= product._id %>" class="btn">Details</a>
                    <% if(isAuth) {%>
                    <form action="/add-to-cart" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn">Add to Cart</button>
                    </form>
                    <% } %>
                </div>
            </article>
            <% } %>
        <% }else{ %>
            <h1>No Product Yet ....</h1>
        <% } %>
    </main>
<%- include('../layout/includes/end.ejs') %>
